body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    line-height: 1.6;
    background: white;
}

header img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 8px;
}

header {
    background: linear-gradient(to right, #2c7be5, #4da3ff);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 20px;
    margin-bottom: 20px;
}

section {
    background: white;
    margin: 40px auto;
    padding: 40px;
    max-width: 1100px;
    border-radius: 8px;
}

h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    color: #555;
}

.btn {
   display: inline-block;
   background: white;
   color: #2c7be5;
   padding: 12px 24px;
   border-radius: 6px;
   text-decoration: none;
   font-size: 16px;
   margin: 10px 5px;
   font-weight: 500;
}

.btn:hover {
background: #f0f0f0;
}

footer {
    background: #2c7be5;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-box {
    background: #f7f9fc;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0,0.5);
}

.service-box:hover {
    transform: translateY(-5px);
    transition: 0.2s;;
}

@media (max-width: 768px) {
    .services {
        flex-direction: column;
    }
}